<section id="banner">
  <div class="content">
    <header style="text-align: center;">
      <h1>Woops!</h1>
      <p>Looks like we're still working on this page.</p>
      <p>Sorry about that! :(</p>
    </header>
  </div>
</section>
<section>
  <ul class="actions special">
      <li><a routerLink="../about-us" class="button big primary" style="margin-bottom: 10px;">Go Home</a></li>
      <li><a routerLink="../contact-us" class="button big primary" style="margin-bottom: 10px;">Contact Us</a></li>
  </ul>
</section>