<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">

        <!-- Header Icons -->
        <ul class="icons header-icons">
            <li><a href="https://www.facebook.com/groups/maccpt/" class="icon fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.github.com/mcp-team" class="icon fa-github" target="blank"><span class="label">GitHub</span></a></li>
            <li><a routerLink="../contact-us" class="icon fa-envelope" target="blank"><span class="label">Email</span></a></li>
            <!--
            <li><a href="#" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
            -->
        </ul>

        <!-- Inner -->
        <div class="inner" style="padding-top: 75px;">
            <router-outlet></router-outlet>
        </div>

    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Logo -->
            <section class="alt" style="margin-bottom: 20px;">
                <a routerLink="/home">
                    <span class="image fit"><img src="assets/images/MCP-LogoV1-GrayNoBox.png" alt="" /></span>
                </a>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <ul>
                    <li><a routerLink="about-us">About Us</a></li>
                    <li><a routerLink="sponsors">Our Sponsors</a></li>
                    <li><a routerLink="#">Get Involved</a></li>
                    <li><a routerLink="#">Our Members</a></li>
                    <li>
                        <span class="opener">Learn</span>
                        <ul>
                            <li><a routerLink="/workshops">Workshops</a></li>
                            <li><a routerLink="/editorials">Editorials</a></li>
                            <li><a routerLink="/interview-prep">Interview Prep</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Section -->
            <section>
                <header>
                    <a routerLink="contact-us" class="button primary fit">Contact Us</a>
                </header>
            </section>
        </div>
    </div>
</div>