<section id="banner" style="padding-bottom: 10px; padding-top: 25px;">
  <div class="content">
    <header>
      <h1 style="font-size: 3.7em">McMaster Competitive Programming</h1>
      <p>A community of McMaster's best algorithmic programmers</p>
    </header>
    <p>
      McMaster Competitive Programming (MCP) is a community of passionate individuals dedicated to increasing the technical skills of McMaster students.
      Our members are well-versed in competitive computing concepts and represent McMaster University in the world prestigious International Collegiate 
      Programming Competition (ICPC) every year.
    </p>
  </div>
</section>

<section>
  <header>
    <h2>Our goals</h2>
  </header>
  <div class="features">
      <article>
        <span class="icon fa-signal"></span>
        <div class="content">
          <h3>Develop the skills of students</h3>
          <p>
            MCP works hard to provide resources for students to increase their
            confidence in data structures and algorithms. We hold practices, workshops, and more!</p>
        </div>
      </article>
      <article>
        <span class="icon fa-trophy"></span>
        <div class="content">
          <h3>Represent McMaster at ICPC</h3>
          <p>
            Each year MCP sends three teams of three students to represent McMaster University at the 
            <a href="https://icpc.baylor.edu/" target="blank">International Collegiate Programming Competition</a> (ICPC) - a prestigious world-wide 
            college-level programming competition.
          </p>
        </div>
      </article>
      <article>
        <span class="icon fa-connectdevelop"></span>
        <div class="content">
          <h3>Connect students to opportunities</h3>
          <p>
            We understand that reaching out to internship opportunities can be a daunting process - so 
            we try our hardest to bring <a routerLink="../sponsors">outstanding companies</a> to our campus
            to recruit the talented students of our community! 
          </p>
        </div>
      </article>
      <article>
        <span class="icon fa-smile-o"></span>
        <div class="content">
          <h3>Have fun!</h3>
          <p>
            Believe it or not, but competitive programming is a lot of fun - especially with our community!
            Don't knock it 'till you try it!
          </p>
        </div>
      </article>
    </div>
</section>